<!-- Modal -->
<div class="modal fade" id="additionalAbout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="additionalAboutLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="additionalAboutLabel">My Current Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>I'm currently building great things with <a href="https://mobilityquotient.com">Mobility Quotient</a> in the role of Front End Developer Team Lead. The role involves overseeing, managing and being involved in almost all UX/UI development accross the company. I spend my days designing, developing and testing and when I'm not doing those I am helping my team succeed or interacting with clients.
        I work closely with our design team and back end developer team to bring projects to life. The role is challanging and rewarding. I started out as a designer and front end developer and grew to the principal front end developer while continuing to work on the design and am now the Front End Developer team lead. I'm still heavily responsible for UX/UI design and implementation.</p>

        <p>I've helped create a totally custom tool to help individuals and families with Autism lead successful lives and advance in their careers and personal goals. I've mentored 
            individuals from all walks of life including those with learning difficulties. 
            Building a custom learning management tool encouraged me to approach site design and integration differently. Being a part of a team that builds custom tooling 
            for industries ranging from automotive to food and beverage, document compliance to hyper-local news and even a local business search engine.</p>

        <p>Most of the work I do in my current role involves creating both public facing and protected experiences and given the nature of those projects and sensitivity of client data. Please don't hesitate to <a href="#contact">say hello</a> for more information.</p>

        {# <h4>Skills</h4>
        <p>
            My greatest strengths lie in solving UX/UI problems from both a design and development point of view. During my time in my current role (7 years) I've been involved in almost every single web project and a large amount of the app projects we've undertaken.
            I enjoy solving creative puzzles and following up that success by developing them in ways that are accessible and as optimized and tested as possible. When I can I try learn some new tools and techniques along the way. I pick things up quickly too so that's another
            strength. 
        </p>
        <p>
            If I had to break down the types of design and front end development work I do, the ratio would be about 45% public facing website/app work and 55% custom build CMS work. Both present very different UX and UI paradigms and challange me in new ways. I've been part of
            a team that has built a standard page based CMS using custom applications of Drupal or WordPress. I've helped create a totally custom tool to help individuals and families with Autism lead successful lives and advance in their careers and personal goals. I've mentored 
            individuals from all walks of life including those with learning difficulties. Building a custom learning management tool encouraged me to approach site design and integration differently. Being a part of a team that builds custom publication tools for industries ranging from 
            agriculture to automotive to food and beverage
        </p> #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cool! Close this.</button>
      </div>
    </div>
  </div>
</div>
