{# Page: Home #}
{% extends 'base.html.twig' %}

{% block content %}
	<section class="section container-hero">
		<div class="hero-inner container">
			<h1 class="visually-hidden">Welcome to NeverDesign.net&mdash;The portfolio website of Jon De Araujo</h1>

			<h2>
				<b>UX/UI</b>
				<span class="font-weight-bold text-red">+</span>
				<span class="text-label text-first">Designer</span>
				<span class="text-label text-last">Developer</span>
			</h2>
		</div>
	</section>

	<section id="about" class="section container container-about">
		<div class="section-inner container">
			<div class="header">
				<h3>About</h3>
				<p class="h1">I create imaginative, thoughtful and accessible digital experiences.</p>
				<p>Hi, my name is Jon. I’m a UX/UI Designer and Front End developer.Since finishing a Bachelors Degree in Creative Industries (Communication Design) in 2007 I have worked in the industry at a wide variety of organizations while freelancing in-between. I’m a passionate designer and a creative at heart with wise in the ways of UX/UI and skilled in design and development principals.</p>
			</div>
		</div>
	</section>

	<section id="folio" class="section container container-folio">
		<div class="section-inner container">
			<div class="header">
				<h3>Folio</h3>
			</div>
		</div>
	</section>

	<section id="skills" class="section container container-skills">
		<div class="section-inner container">
			<div class="header">
				<h3>Skills</h3>
			</div>

			<div class="content row">
				<div class="col-12 col-md-4">
					<h4>Design</h4>
					<ul class="list-skills">
						<li><p>Concept Design</p> <p>10/10</p></li>
						<li><p>Wireframing</p> <p>10/10</p></li>
						<li><p>Design</p> <p>10/10</p></li>
						<li><p>Illustration</p> <p>10/10</p></li>
						<li><p>UX Mockups</p> <p>10/10</p></li>
						<li><p>Adobe Photoshop</p> <p>10/10</p></li>
						<li><p>Adobe Illustrator</p> <p>10/10</p></li>
						<li><p>Adobe XD</p> <p>10/10</p></li>
						<li><p>Adobe InDesign</p> <p>10/10</p></li>
					</ul>
				</div>

				<div class="col-12 col-md-4">
					<h4>Development</h4>
					<ul class="list-skills">
						<li><p>HTML5</p> <p>10/10</p></li>
						<li><p>CSS3</p> <p>10/10</p></li>
						<li><p>SASS/SCSS</p> <p>10/10</p></li>
						<li><p>Less</p> <p>10/10</p></li>
						<li><p>JS</p> <p>10/10</p></li>
						<li><p>Typescript</p> <p>10/10</p></li>
						<li><p>jQuery</p> <p>10/10</p></li>
						<li><p>Angular.js</p> <p>10/10</p></li>
						<li><p>React</p> <p>10/10</p></li>
						<li><p>PHP</p> <p>10/10</p></li>
						<li><p>Twig</p> <p>10/10</p></li>
						<li><p>Symfony</p> <p>10/10</p></li>
					</ul>
				</div>

				<div class="col-12 col-md-4">
					<h4>Others</h4>
					<ul class="list-skills">
						<li><p>Icon Fonts</p> <p>10/10</p></li>
						<li><p>MacOS</p> <p>10/10</p></li>
						<li><p>Windows</p> <p>10/10</p></li>
						<li><p>Linux</p> <p>10/10</p></li>
						<li><p>Git</p> <p>10/10</p></li>
						<li><p>Codekit</p> <p>10/10</p></li>
						<li><p>SEO (OG, JSONLD, AMP)</p> <p>10/10</p></li>
						<li><p>DQL/SQL</p> <p>10/10</p></li>
						<li><p>WordPress</p> <p>10/10</p></li>
						<li><p>Bolt</p> <p>10/10</p></li>
						<li><p>Drupal</p> <p>10/10</p></li>
						<li><p>AWS - S3</p> <p>10/10</p></li>
						<li><p>Azure</p> <p>10/10</p></li>
						<li><p>Razor</p> <p>10/10</p></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="section container container-contact">
		<div class="section-inner container">
			<div class="header">
				<h3>Say Hello</h3>
			</div>
		</div>
	</section>
{% endblock content %}
