/**
 * Elements
 */

// BUTTONS //
.btn {
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 0;
}

.btn-outline-primary-white {
	@include button-variant ( transparent, $primary, $white, $primary, $primary, $white );
	border-width: 2px;
}

// SECTIONS //
.section {
	padding-top: $space-xxxl;
	padding-bottom: $space-xxxl;
	position: relative;
}

.section-hero {
	margin-bottom: $space-xxl;

	.title {
		display: flex;
			justify-content: center;
			align-items: center;
		font-size: 2.2em;
		line-height: 1.2em;

		b {
			font-weight: 700;
		}

		div:first-child {
			span {
				display: inline-block;
				padding: 0 $space-sm;
			}
		}

		div:last-child {
			font-weight: 300;

			span {
				display: block;
			}
		}
	}

	@include media-breakpoint-up(md){
		.title {
			font-size: 3.5em;
		}
	}
}

.section-about {
	margin-top: 0;
	padding-top: $space-lg;
	background: $grey-medium;

	&:before {
		$height: 35px;
		content: ' ';
		background-image: linear-gradient(to left top, $grey-medium 0%, $grey-medium 50%, transparent 50%);
		width: 100%;
		height: $height;
		position: absolute;
		top: -$height;
		z-index: 1;
	}

	.container-image{
		border-radius: 999px;
		overflow: hidden;
		border: 5px solid lighten($grey-light, 55%);
		width: 200px;
		height: 200px;
		margin: 0 auto $space-lg;
		object-fit: cover;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@include media-breakpoint-up(md){
		margin-top: $space-lg;
		padding-top: $space-xxl;

		.container-image{
			margin-bottom: 0; 
		}
	}
}

.section-folio {
	background: $grey-light;

	.collection {
		max-width: 100%;
	}

	@include media-breakpoint-down(md){
		padding-bottom: $space-lg;
	}

	@include media-breakpoint-up(md){
		.collection {
			max-width: 90%;
			margin: 0 auto;
		}
	}
}

.section-skills {
	background: $grey-medium;
}

.section-contact {
	&:before {
		$height: 35px;
		content: ' ';
		background-image: linear-gradient(to left top, $grey-darkest 0%, $grey-darkest 50%, transparent 50%);
		width: 100%;
		height: $height;
		position: absolute;
		top: -$height;
		z-index: 1;
	}

	.collection {
		justify-content: center;
	}
}

// CAROUSEL //
#carousel-projects {
	.carousel-inner {
		max-width: 95%;
		margin: 0 auto $space-xxl;
	}

	.carousel-indicators {
		bottom: -$space-xxl;
	}

	@include media-breakpoint-up(md){
		.carousel-inner {
			max-width: 80%;
			min-height: 330px;
		}
	}

	@include media-breakpoint-down(md){
		.carousel-control-next,
		.carousel-control-prev {
			background-color: transparentize($grey-darkest, 0.7);
			backdrop-filter: blur(10px);
				top: 15%;
				bottom: auto;
			height: 120px;
			max-width: 40px;
		}

		.carousel-control-next {
			right: 0;
		}

		.carousel-control-prev {
			left: 0;
		}
	}
}

// FOOTER //
footer {
	.footer-inner {
		padding-top: $space-md;
		padding-bottom: $space-md;
		text-align: center;
		font-size: $font-size-sm;
		color: lighten($grey-light, 35%);
	}
}