/**
 * Elements
 */

// HEADER //
.container-logo {
	width: 70px;

	a {
		display: block;
	}

	.logo {
		width: 100%;

		* {
			width: 100%;
		}
	}
}

.menu-toggle {
	display: flex;
		justify-content: center;
		align-items: center;
	color: $white;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	font-size: $h5-font-size;
	transition: .3s ease-in-out;

	&:hover,
	&:hover:active,
	&.open {
		color: $red;

		.menu-icon {
			span {
				background-color: $red;
			}
		}
	}

	@include media-breakpoint-up(md){
		display: none;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
		position: relative;
		width: 25px;
		height: 20px;
		margin-right: $space-sm;

		transform: rotate(0deg);
		transition: .5s ease-in-out;

		span {
			display: block;
			background: $white;
			border-radius: 9px;
			position: absolute;
				left: 0;
			width: 100%;
			height: 3px;
			opacity: 1;

			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 8px;
			}

			&:nth-child(4) {
				top: 16px;
			}
		}
	}

	&.open {
		.menu-icon {
			span {
				&:nth-child(1) {
					width: 0%;
					top: 18px;
					left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					width: 0%;
					top: 18px;
					left: 50%;
				}
			}
		}
	}
}

.menu {
	list-style: none;
	padding: 0;

	color: $white;
	display: flex;
	margin: 0;
	padding: 0;
	position: relative;

	.menu-item {
		a {
			display: block;
			color: inherit;
			font-weight: 600;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0 $space-xl;

			&:hover,
			&:hover:active {
				color: $red;
			}
		}
	}

	@include media-breakpoint-down(md){
		display: none;
		margin: 0;
		background: transparentize($grey-light, 0.15);
		backdrop-filter: blur(10px);

		&.open {
			display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: flex-end;
			padding-bottom: $space-xxxl;
			position: fixed;
				top: $space-xxxl;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 10;
		}

		.menu-item {
			display: block;
			transition-duration: 0.3s;
			border-bottom: 1px solid lighten($grey-light, 5%);
			text-align: center;

			a {
				
				padding: $space-sm $space;
			}
		}
	}
}

// SECTIONS //
.section {
	padding-top: $space-xxxl;
	padding-bottom: $space-xxxl;
	position: relative;
}

.section-hero {
	margin-bottom: $space-xxl;

	.title {
		display: flex;
			justify-content: center;
			align-items: center;
		font-size: 2.2em;
		line-height: 1.2em;

		b {
			font-weight: 700;
		}

		div:first-child {
			span {
				display: inline-block;
				padding: 0 $space-sm;
			}
		}

		div:last-child {
			font-weight: 300;

			span {
				display: block;
			}
		}
	}

	@include media-breakpoint-up(md){
		.title {
			font-size: 3.5em;
		}
	}
}

.section-about {
	margin-top: 0;
	padding-top: $space-lg;
	background: $grey-medium;

	&:before {
		$height: 35px;
		content: ' ';
		background-image: linear-gradient(to left top, $grey-medium 0%, $grey-medium 50%, transparent 50%);
		width: 100%;
		height: $height;
		position: absolute;
		top: -$height;
		z-index: 1;
	}

	.container-image{
		border-radius: 999px;
		overflow: hidden;
		border: 5px solid lighten($grey-light, 55%);
		width: 200px;
		height: 200px;
		margin: 0 auto $space-lg;

		img {
			width: 100%;
		}
	}

	@include media-breakpoint-up(md){
		margin-top: $space-lg;
		padding-top: $space-xxl;

		.container-image{
			margin-bottom: 0; 
		}
	}
}

.section-folio {
	background: $grey-light;
}

.section-skills {
	background: $grey-medium;
}

.section-contact {
	&:before {
		$height: 35px;
		content: ' ';
		background-image: linear-gradient(to left top, $grey-darkest 0%, $grey-darkest 50%, transparent 50%);
		width: 100%;
		height: $height;
		position: absolute;
		top: -$height;
		z-index: 1;
	}
}

// FOOTER //
footer {
	.footer-inner {
		padding-top: $space-md;
		padding-bottom: $space-md;
		text-align: center;
		font-size: $font-size-sm;
		color: lighten($grey-light, 35%);
	}
}